{% include 'navbar.html' %}

<b> Profile page: {{ user.get_full_name }} </b>

<ul>

<li> First name: {{ user.first_name }} </li>
<li> Last name: {{ user.last_name }} </li>
<li> Joined on: {{ user.date_joined }} </li>

</ul>

Products added by {{ user.first_name }}:
<ul>
    {% for product in user.products_added.all %}
        <li>
        {% include 'products/product_card.html' with show_userinfo=False %}
        </li>
    {% endfor %}
</ul>

{% if request.user.is_authenticated %}
    Contact info:
    <ul>
        <li> Phone number: {{ user.phone_number }} </li>
        <li> Email address: <a href="mailto:{{ user.email }}"> {{ user.email }} </a> </li>
    </ul>
{% else %}
    Please <a href="{% url 'account_login' %}/next={{ request.path }}"> login </a>
    to view {{ user.first_name }}'s contact info.
{% endif %}